
/* .foot2{
   margin-top: 80px;
    background-color: rgb(242, 206, 212);
    height: 450px;
    border-bottom: 2px solid rgb(227, 38, 101);
}
.icon2{
    color: #1c1717;
}
.maindetail1{
    font-size: 19px;
}
.details2{
    color: #2f2a2a;
    font-size: 15px;
}


.footcpy{
    color: #1f1919; 
    font-size: 13px;
}
.footerbg{
     background-color: rgb(242, 206, 212);
} */

.foot2 {
  background-color: #fff0f6;
  padding: 40px 0;
}

.footer-logo {
  width: 150px;
}

.footer-text {
  font-size: 14px;
  color: #444;
}

.widget-title {
  font-weight: 700;
  margin-bottom: 15px;
  color: #d63384;
}

.footer-links li {
  margin-bottom: 8px;
}

.footer-links a {
  text-decoration: none;
  color: #333;
  transition: 0.3s;
}

.footer-links a:hover {
  color: #d63384;
  padding-left: 5px;
}

.icon2 {
  width: 36px;
  height: 36px;
  background-color: #ff69b4;
  color: white;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
}

.icon2:hover {
  background-color: #d63384;
  transform: translateY(-3px);
}

.footer-bottom {
  background-color: #d63384;
  color: white;
  text-align: center;
  padding: 12px 0;
  font-size: 14px;
}


@media (max-width: 576px) {
  .footer-text {
    font-size: 13px;
  }

  .footer-logo {
    width: 120px;
  }
}
