
.foot2{
   margin-top: 80px;
    background-color: rgb(242, 206, 212);
    height: 450px;
    border-bottom: 2px solid rgb(227, 38, 101);
}
.icon2{
    color: #1c1717;
}
.maindetail1{
    font-size: 19px;
}
.details2{
    color: #2f2a2a;
    font-size: 15px;
}


.footcpy{
    color: #1f1919; 
    font-size: 13px;
}
.footerbg{
     background-color: rgb(242, 206, 212);
}